.style {
  text-align: center;
}

.home-header {
  background-color: #ffc89f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4ea217;
}

img-style {
  margin-left: auto;
  margin-right: auto;
}

.body-img-style {
  align-items: center "center";
  justify-content: "center";
  display: "flex";
}
